<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <title>Tech Blog</title>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-md justify-content-between">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link pl-0" href="/" class="linkbtn">Home</a>
          </li>
          {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link" id="logout" class="linkbtn">Logout</a>
          </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard" class="linkbtn">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" class="linkbtn">Login</a>
          </li>

        </ul>
      </div>
      <header>
        <h1 id="title"> Tech Blog</h1>
      </header>
    </div>

  </nav>
  <main>
    {{{ body }}}
  </main>
</body>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

</html>